@import "~antd/dist/antd.css";

/* global */
.blank-description {
  font-size: 16px;
}

.blank-description_sm {
  font-size: 12px;
}

.italic {
  font-style: italic;
}

.blank-title {
  color: #2932e1;
}

/* header */
.paddle-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  background: #2932e1;
}

/* input area */
.pp-input-form {
  margin: 30px 60px;
}

.input-form_summary {
  font-weight: 700;
  font-size: 16px;
}

.input-form_layout {
  margin-top: 20px;
  border: 1px solid #f00;
}

.form-layout_blank + * {
  margin-top: 20px;
}

.blank-title.asterisk::after {
  content: '*';
  color: #f00;
}

.form-blank-content {
  display: flex;
}

.form-blank-0 {
  display: flex;
}

.blank-0-0 {
  margin-left: 50px;
}
.blank-0-1 {
  margin-left: 200px;
}

.blank-description_sm .link {
  text-decoration: underline;
}
.blank-description_sm .link + * {
  margin-left: 5px;
}

.blank-1-0 {
  margin-left: 50px;
}

.blank-1-0 .blank-component {
  margin-top: 5px;
}

.blank-component.horizon {
  display: flex;
}

.blank-description.asterisk::after {
  content: '*';
  color: #f00;
}

/* output area */
